__pycache__/version.cpython-311.pyc
__pycache__/status.cpython-311.pyc
__pycache__/svctaskk.cpython-311.pyc
__pycache__/version.cpython-311.pyc
module/bin/ffmpeg.exe
__pycache__/ffconverter.cpython-311.pyc

